.container {
  height: 200px;
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(13, 57, 56, 0.9094231442577031) 43%,
    rgba(18, 113, 110, 1) 100%
  );
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.img {
  margin-left: 25px;
  border-radius: 15px;
}
.h2 h2 {
  margin-left: 50px;
}
