@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.line_container {
  z-index: 3;
  width: 100%;
  margin: 30px auto 10px;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.1s ease-in-out;
}
.line_container_1 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px 0;
  transition: background-color 0.3s ease-in-out;
}
.line_left {
  display: flex;
}
.line_right {
  display: flex;
}
.line_right img {
  width: 25px;
}
.line_arrow_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(11, 11, 11, 0.641);
  border-radius: 30px;
  margin: 5px;
}
.line_arrow_left:hover {
  background-color: rgb(5, 4, 5);
}
.line_left input {
  border-radius: 40px;
  height: 40px;
  width: 300px;
  border: none;
  background-color: rgba(38, 38, 38, 1);
  text-align: center;
}
.line_left input:focus {
  color: aliceblue;
  border: 1px solid white;
}
.reg_btn {
  width: 80px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 1.05em;
  color: aliceblue;
  opacity: 0.7;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
.reg_btn:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.log_btn {
  margin-left: 2em;
  width: 100px;
  height: 50px;
  border-radius: 2em;
  border: none;
  background-color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05em;
  color: rgb(0, 0, 0);
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}
.log_btn:hover {
  font-weight: 600;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.screen_min {
  display: none;
}

/* Modal style  */
.modal_window {
  border-radius: 5px;
  width: 200px;
  height: 190px;
  background-color: #282828;
  border: 16px solid transparent;
  position: absolute;
  top: 80px;
  right: 35px;
}
.modal_window hr {
  border: none;
  height: 0.5px;
}
.textBlock {
  height: 40px;
}
.textBlock button {
  font-size: 14px;
  color: #eaeaea;
  background-color: transparent;
  border: none;
  padding-top: 10px;
}

hr {
  background-color: #494848;
  height: 1px;
}
.btn {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(29, 185, 84, 1);
  border: none;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}
.btn:hover {
  scale: 1.1;
}

/* ----------------------------------- */
@media ((max-width: 770px)) {
  .line_left input {
    width: 150px;
  }
  .log_btn {
    width: 50px;
  }
  /* .reg_btn {
    
  } */
}

@media ((max-width: 430px)) {
  .line_container {
    display: none;
  }
  .line_container_1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    display: none;
    transition: background-color 0.3s ease-in-out;
  }
  .screen_min {
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .screen_min_bot {
    display: flex;
    justify-content: center;
  }
  .screen_min_bot input {
    height: 30px;
    border-radius: 20px;
    width: 90%;
    margin: 5px auto;
  }
  .screen_min_top {
    display: flex;
    justify-content: space-evenly;
  }
}
